body {
  background-color: #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 300px;
}

.icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.info h1 {
  font-size: 24px;
  margin: 0;
  color: black;
}

.info p {
  font-size: 18px;
  margin: 5px 0 20px;
  color:black
}

button {
  background-color: #008cba;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

button:hover {
  background-color: #005f5f;
}

.details {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}
